<ion-header>
  <ion-toolbar color="danger" fixed>
      <ion-buttons slot="end">
        <ion-button (click)="add()">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        CryptoPass
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
   <ion-list *ngFor="let account of accounts">
     <ion-item (click)="detail(account.id)">
       <ion-label>{{account.name}}</ion-label>
       <i>{{account.handle}}</i>
     </ion-item>
   </ion-list>
  </ion-grid>
</ion-content>
